site_name: Energy Tariff Scheduler
site_url: https://mydomain.org/
theme:
  name: material
plugins:
    - awesome-pages
    - search
    - include-markdown:
        encoding: ascii
        preserve_includer_indent: false
        dedent: false
        trailing_newlines: true
        comments: true
        rewrite_relative_urls: true
        heading_offset: 0
        start: <!--start-->
        end: <!--end-->
        recursive: true
markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
      linenums: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
  - admonition
  - pymdownx.details
  - pymdownx.superfences
  - toc:
      permalink: ïƒ
repo_url: https://github.com/craigwh10/energy-tariff-scheduler
extra:
  consent:
    title: Cookie consent
    description: >- 
      We use cookies to recognize your repeated visits and preferences, as well
      as to measure the effectiveness of our documentation and whether users
      find what they're searching for. With your consent, you're helping us to
      make our documentation better.
  analytics:
    provider: google
    property: G-VDZZ3F8QDN
    feedback:
      title: Was this page helpful?
      ratings:
        - icon: material/emoticon-happy-outline
          name: This page was helpful
          data: 1
          note: >-
            Thanks for your feedback!
        - icon: material/emoticon-sad-outline
          name: This page could be improved
          data: 0
          note: >- 
            Thanks for your feedback! Help us improve this page by
            using our <a href="https://github.com/craigwh10/energy-tariff-scheduler/discussions/new?category=documentation" target="_blank" rel="noopener">feedback form</a>.
